<div class="row">
  <div class="col-md-12">
    <h2>Register</h2>
    <form #form="ngForm" [formGroup]="signUpForm" class="form">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input
              matInput
              formControlName="username"
              placeholder="Ingrese el nombre de usuario"
            />
            <mat-error
              *ngIf="signUpForm.controls['username'].hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="Ingrese su contraseña"
            />
            <mat-error
              *ngIf="signUpForm.controls['password'].hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button
            (click)="signUp()"
            [disabled]="!signUpForm.valid"
            mat-raised-button
            class="float-end"
            color="primary"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
