<div class="row">
  <div class="col-md-12">
    <h2>Login</h2>
    <form #form="ngForm" [formGroup]="loginForm" class="form">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input
              matInput
              formControlName="username"
              placeholder="Ingrese el nombre de usuario"
            />
            <mat-error
              *ngIf="loginForm.controls['username'].hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Ingrese el password de usuario"
            />
            <mat-error
              *ngIf="loginForm.controls['password'].hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a
            [routerLink]="['/register']"
            mat-raised-button
            class="button"
            color="secondary"
          >
            Registrarse
          </a>
          <button
            (click)="login()"
            [disabled]="!loginForm.valid"
            mat-raised-button
            class="float-end"
            color="primary"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
